#main-content{
    display: flex;
    height: 100%;
    width: 100%;
}

#left-panel{
    background-color: blue;
    height: 100%;
    min-width: 5%;
    width: 10%;
    max-width: 15%;
}

#main-panel{
    background-color: brown;
    height: 100%;
    min-width: 85;
    width: 90%;
    max-width: 95%;
}