#main-content{
  display: flex;
}

#chat-server {
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  min-width: 70%;
  width: 80%;
  max-width: 90%;
}

h1{
  color: #ffa10b;
}
label {
  display: block;
  margin: 20px 0 5px 0;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #000000;
  color: #ffffff;
}

input[type="submit"] {
  background-color: #000000;
  color: #c61c1c;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}



button {
  appearance: button;
  background-color: #ffa10b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: block; /* Ensure buttons are block elements */
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 20%;
  position: relative; 
}

button:after {
  background-clip: padding-box;
  background-color: #ff890b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: not-allowed;
}

button:active {
  border-width: 4px 0 0;
  background: none;
}
