{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}
<body>
    {% block body%}
    <div id="main-content">
        <div id="chat-server">

            <h1>Server Connection</h1>

            <label for="server-ip">IP Address:</label>
            <input type="text" id="server-ip" name="serverip" placeholder="Enter IP address">
        
            
            <button onclick="checkInfo()">Connect</button>
        </div>

        <div id="saved-servers">

        </div>
    </div>
    {% endblock %}
</body>
</html>